/* Start Global Css */
* {
    box-sizing: border-box;
}

body {
    background-color: #ccc;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --main-color: #ddd;
    --second-color: #333;
    --third-color: #fff;
    --shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.container {
    margin: 40px;
    display: grid;
    gap: 40px;
}

a.btn {
    display: block;
    background-color: var(--second-color);
    color: var(--third-color);
    padding: 10px 20px;
    width: fit-content;
    text-decoration: none;
}

/* End Global Css */
/* Start Navigation */

.container nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.container nav ul li a {
    display: block;
    text-decoration: none;
    color: var(--second-color);
    padding: 15px;
    font-size: 18px;
    text-transform: uppercase;
    background-color: var(--main-color);
    text-align: center;
    box-shadow: var(--shadow);
}

.container nav ul li a:hover {
    background-color: var(--second-color);
    color: var(--third-color);
    transition: 0.5s ease-in-out;
}

/* End Navigation */
/* Start Top Container */
.top-container {
    display: grid;
    gap: 20px;
    grid-template-areas:
        "showcase  showcase box-a"
        "showcase  showcase box-b";
}

.top-container>div:first-child {
    grid-area: showcase;
    min-height: 400px;
    background-image: url("../images/showcase.jpg");
    background-size: cover;
    background-position: center;
    color: var(--third-color);
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-shadow: var(--shadow);
}

.top-container>div:first-child h1 {
    font-size: 60px;
    margin-bottom: 0;
}

.top-container>div:first-child p {
    font-size: 20px;
    line-height: 1.6;
    margin-top: 0;
}

.top-container>div a {
    display: block;
    background-color: var(--second-color);
    color: var(--third-color);
    padding: 10px 20px;
    width: fit-content;
    text-decoration: none;
}

.top-container .box {
    background-color: var(--main-color);
    display: grid;
    align-items: center;
    justify-items: center;
    box-shadow: var(--shadow);
    padding: 20px;
}

.top-container .box-a {
    grid-area: box-a;
}

.top-container .box-b {
    grid-area: box-b;
}

.top-container .box h4 {
    font-size: 20px;
}

.top-container .box p {
    font-size: 40px;
}

/* End  Top Container */
/* start Boxes Section */
.boxes-section {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.boxes-section .box {
    background-color: var(--main-color);
    text-align: center;
    box-shadow: var(--shadow);
    padding: 20px;
}

.boxes-section .box p {
    line-height: 1.6;
    font-size: 18px;
}

.boxes-section .box h3 {
    font-size: 20px;
}

/* Start Info Section */
.info-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    background-color: var(--main-color);
    padding: 40px;
    box-shadow: var(--shadow);
}

.info-section .div-img img {
    display: block;
    width: 100%;
    height: 100%;
}

.info-section>div:nth-of-type(2) p {
    line-height: 1.6;
    font-size: 18px;
}

/* End Info Section */
/* Start Gallery Images */
.gallery-images {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.gallery-images>div img {
    display: block;
    width: 100%;
    height: 100%;
    box-shadow: var(--shadow);
}

/* End Gallery Images */
/* Start Footer */
footer {
    background-color: var(--second-color);
    text-align: center;
    color: var(--third-color);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* End Footer */
/* Start Media Queries */
@media(max-width:700px) {
    .container nav ul {
        grid-template-columns: 1fr;
    }

    .top-container {
        grid-template-areas:
            "showcase  showcase"
            "box-a box-b";
    }


    .top-container>div:first-child h1 {
        font-size: 40px;
    }

    .info-section {
        grid-template-columns: 1fr;
    }

    .info-section a {
        width: 100%;
        text-align: center;
    }
}

@media(max-width:500px) {
    .top-container {
        grid-template-areas:
            "showcase"
            "box-a"
            "box-b";
    }
}

/* End Media Queries */